@font-face {
  font-family: "Futura ND Alternate";
  src: url("/fonts/Futura ND Alt Cn W03 Bold.otf") format("opentype"),
    url("/fonts/Futura ND Alt Cn W03 Bold.woff") format("woff");
}

@font-face {
 font-family: "Intrepid Bold";
 src: url("/fonts/Intrepid-Bold.ttf.woff") format("woff"),
        url("/fonts/Intrepid-Bold.ttf.eot") format("eot"),
        url("/fonts/Intrepid-Bold.ttf.svg") format("svg");
}

body {
  background-color: #14143c;
  color: #5FC5BA;;
  font-family: cursive, "Futura ND Alternate", "Intrepid Bold", sans-serif;
  min-width: 480px;
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1{
  white-space: nowrap;
}

.logo-header {
  background-color: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 10px 0 10px;
}

main {
  text-align: center;
  margin: 0 10px 0 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  list-style: none;
  padding: 0;
}

li{
  margin: 10px;
}

button {
  border: 5px solid #5FC5BA;
  border-radius: 50%;
  background-color: #14143c;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 1.5em;
  margin: 3px;
  padding: 10px;
}

button:hover.player, button:hover.bot {
  background-color: #5FC5BA;
  color: #14143c;
}

button:focus.player, button:focus.bot {
  background-color: #5FC5BA;
  color: #14143c;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

h2, h3, p {
  font-size: 2em;
}

p {
  line-height: 0;
}

#game-rule-img {
  width: 100%;
  max-width: 600px;
  min-width: 300px;
  height: auto;
}

@media only screen and (max-width: 600px) {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  h1 {
    font-size: 1.75em;
  }

  h2, h3, p, button {
    font-size: 1em;
  }

  button {
    border: 2px solid #5FC5BA;
  }

  .logo-header {
    width: 45px;
    height: 45px;
  }

  .logo-header.right {
    display: none;
  }

  main {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
  }

  #game-rule-img {
    order: 1;
  }

  aside-left {
    order: 2;
    margin-right: 50%;
  }

  aside-right {
    order: 3;
  }


}
